<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MushROMs.GenericEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <userSettings>
        <MushROMs.GenericEditor.Properties.Settings>
            <setting name="MaxRecentFiles" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="FirstTime" serializeAs="String">
                <value>True</value>
            </setting>
        </MushROMs.GenericEditor.Properties.Settings>
    </userSettings>
</configuration>