<?xml version="1.0" encoding="utf-8"?>
<!--
<copyright file="packages.config" company="Public Domain">
    Copyright (c) 2018 Nelson Garcia. All rights reserved
    Licensed under GNU Affero General Public License.
	See LICENSE in project root for full license information, or visit
    https://www.gnu.org/licenses/#AGPL
</copyright>
-->

<packages>
  <package id="MSTest.TestAdapter" version="1.2.0" targetFramework="net471" />
  <package id="MSTest.TestFramework" version="1.2.0" targetFramework="net471" />
</packages>
